html {
  font-family: "Titillium Web", sans-serif;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif !important;
  padding-top: 54px;
  color: #000000;
}

@media (min-width: 992px) {
  body {
    font-family: "Titillium Web", sans-serif;
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: #173F5F;
},
h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: #173F5F;
},
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: #173F5F;
}




h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #173F5F;
}

.list-social-icons a:hover {
  color: #98c1d9;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #98c1d9;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    font-family: "Titillium Web", sans-serif;
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(23, 63, 95, 0.2);
  }
  #sideNav .navbar-collapse {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    font-family: "Titillium Web", sans-serif;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #ffffff;
  padding-top: 5rem ;
  padding-bottom: 5rem ;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem ;
    padding-bottom: 3rem ;
  }
}

.bg-primary {
  background-color: #173F5F !important;
}

.text-primary {
  color: #000000 !important;
}

a {
  color: #173F5F;
}

a:hover, a:focus, a:active {
  color: #98c1d9;
}
